.test {
  height: 100vh;
  overflow: scroll;
}

.container {
  padding: 2rem 0 0;
}

.searchContainer {
  width: 90%;
  margin: 0 auto;
  background-color: #f3f3f3;
  box-sizing: border-box;
  border-radius: 2rem;
  overflow: hidden;
  padding-left: 1.5rem;
  display: flex;
}

.search {
  background-color: #f3f3f3;
  padding: 1.8rem 1rem;
  border: none;
  color: #7a7a7a;
  font-size: 1.5rem;
  width: 85%;
}

.search:focus {
  outline: none;
}

.buttonsContainer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
}

.buttonsContainer button {
  /* display: block; */
  background-color: inherit;
  border: none;
  width: 50%;
  background-color: #f3f3f3;
  padding: 1.4rem 0;
  cursor: pointer;
  font-weight: bold;
}

.mapArea {
  margin-top: 2rem;
  height: 85vh;
  background-color: #d9d9d9;
  position: relative;
}

.selectedBox {
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
  bottom: 3rem;
  width: 65%;
  left: 50%;
  padding: 2rem 4rem;
  box-sizing: border-box;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.selectedBoxTitle {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.selectedBoxAddress {
  font-size: 1.3rem;
}
