.container {
  background-color: #fff;
  width: 41rem;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}

@media (max-width: 410px) {
  .container {
    width: 100%;
  }
}
