.container {
  padding: 0 2rem;
  height: 7rem;
  border: 1px solid #c4c4c4;
}

.prevButton {
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-40%);
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
