.container {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 7.8rem;
  gap: 13.2rem;
  border: 1px solid #c4c4c4;
}

.prevButton {
  border: none;
  background-color: inherit;
  text-align: left;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}
