.header {
  padding: 2.1rem 1rem;
  position: relative;
}

.headings {
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.settingBtn {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-40%);
}

.contents {
  background-color: #f3f3f3;
  /* padding-bottom: 10rem; */
}

.profile {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  padding: 4rem 0;
}

.level {
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.3rem;
  color: #7e7e7e;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.navHeader {
  background-color: #fff;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  overflow: hidden;
  display: flex;
  border-top: 1px solid #c4c4c4;
}

.navHeader > * {
  text-align: center;
  width: 50%;
  padding: 2rem 0;
  font-size: 1.3rem;
}

.active {
  text-decoration: underline;
}

.levelContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.posts {
  font-size: 1.4rem;
}

.isEmpty {
  background-color: #fff;
  text-align: center;
  padding-top: 5rem;
}

.isNotEmpty {
  padding-bottom: 10rem;
  min-height: 70vh;
}

.hasOnePost {
  height: 70vh;
}

.header {
  border-bottom: 1px solid #c4c4c4;
}
