.container {
}

.contents {
  background-color: var(--gray-100);
  min-height: 90vh;
}

.contents::-webkit-scrollbar {
  display: none;
}

.slider {
  padding: 1.6rem;
}

.banner {
  display: block;
}

.banner img {
  border-radius: 1rem;
  vertical-align: top;
  width: 100%;
}
