.card {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.3rem 0.01rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
  height: 16rem;
}

.card + .card {
  margin-top: 2rem;
  border-radius: 1rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cardCover {
  background-color: #38b6ff;
  width: 13.9rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.cardCover img {
  width: 100%;
  vertical-align: top;
  position: relative;
  z-index: -1;
}

.cardContents {
  flex-grow: 1;
  min-width: 0;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  font-size: 1.5rem;
  line-height: 1.3;
  -webkit-line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cardFooter {
  margin-top: 1rem;
  text-align: right;
}

.cardRating {
  font-size: 1.4rem;
  border: 1px solid var(--gray-300);
  padding: 0.4rem 0.8rem;
  border-radius: 1.3rem;
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  left: 50%;
  background-color: #ffffffc6;
  color: var(--gray-900);
  transform: translateX(-50%);
}

.moreBtn {
  margin: 1rem 0 1.6rem;
  text-decoration: none;
  display: block;
  color: var(--black);
  font-size: 1.2rem;
  text-align: right;
}
