.contents {
  padding: 3rem 3.6rem 6rem;
  background-color: #fff;
}

.searchShopBtn {
  background-color: #f3f3f3;
  border: 1px solid #d8d8d8;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 0;
  color: #9b9b9b;
  margin-bottom: 2.4rem;
  cursor: pointer;
}

.searchShopBtn span {
  font-size: 1.6rem;
  font-family: "pretendard-regular";
}

.pictureBtn {
  background-color: #f3f3f3;
  border: 1px solid #d8d8d8;
  border-radius: 2rem;
  color: #9b9b9b;
  font-size: 1.6rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 0.4rem;
}

/*rating  */
.ratingInput {
  margin: 2rem 0;
  text-align: center;
  color: #9b9b9b;
  font-size: 1.6rem;
}

.stars {
  margin-top: 1rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.ratingStar {
  content: "";
  width: 2.5rem;
  /* width: 5rem; */
  height: 5rem;
  display: block;
  background-image: url("../../assets/icons/stars.svg");
  background-position-x: 5rem;
}

.ratingStar:nth-child(even) {
  /* background-position-x: 7.5rem; */
  background-position-x: 2.5rem;
  /* width: 5rem; */
}

/* textarea */

.textareaContainer {
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid #d8d8d8;
  border-radius: 2rem;
  overflow: hidden;
  height: 17rem;
}

.textarea {
  border: none;
  width: 100%;
  background-color: #f3f3f3;
  color: #9b9b9b;
  font-size: 1.6rem;
  font-family: "pretendard-regular";
  resize: none;
  padding: 2rem;
  box-sizing: border-box;
  height: 85%;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea:focus {
  outline: none;
}

.submitBtn {
  display: block;
  border-radius: 1.5rem;
  background-color: #000;
  color: #fff;
  margin: 2.9rem auto 3rem;
  padding: 1.1rem 0;
  width: 58%;
  font-size: 1.5rem;
  cursor: pointer;
}

.wordCountTag {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  color: #9b9b9b;
  font-size: 1.4rem;
}
