.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding: 1.7rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 900;
  flex-shrink: 0;
  font-family: Pretendard-extraBold;
}

.searchContainer {
  width: 70%;
  position: relative;
}

.search {
  border: 1px solid #c8c8c8;
  border-radius: 2rem;
  width: 100%;
  padding: 1rem 2.9rem;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #a3a3a3;
}

.search::placeholder {
  font-size: 1.1rem;
}

.searchIcon {
  position: absolute;
  right: 2.9rem;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 0.4rem;
  background-color: #f5f5f5;
}

.search:focus {
  outline: none;
}

.controlIcon {
  cursor: pointer;
}
