.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding: 1.7rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 900;
  flex-shrink: 0;
  font-family: Pretendard-extraBold;
}

.searchContainer {
  width: 70%;
  position: relative;
}

.search {
  border: 1px solid #c8c8c8;
  border-radius: 2rem;
  width: 100%;
  padding: 1rem 2.9rem;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #a3a3a3;
}

.search::placeholder {
  font-size: 1.1rem;
}

.searchIcon {
  position: absolute;
  right: 2.9rem;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 0.4rem;
  background-color: #f5f5f5;
}

.search:focus {
  outline: none;
}

.controlBtn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.controlIcon {
  cursor: pointer;
}

@keyframes stretch {
  0% {
    margin-right: -45%;
  }

  100% {
    margin-right: 0;
  }
}

@keyframes deemFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes deemFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shrink {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: -45%;
  }
}

/* sidebar */
.sidebar {
  background-color: var(--blue-400);
  position: absolute;
  right: 0;
  animation: stretch 0.3s ease-out;
  width: 45%;
  top: 0;
  bottom: 0;
  z-index: 2000;
  padding: 2rem;
  box-sizing: border-box;
}

.sidebarDisappear {
  animation: shrink 0.3s ease-out;
}

.deem {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1500;
  animation: deemFadeIn 0.3s ease-out;
}

.deemDisappear {
  animation: deemFadeOut 0.3s ease-out;
}

.closeBtn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
